header {
  width: 100%;
  min-height: 100vh;
  @include breakpoint(sm) {
    min-height: 90vh;
  }
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('assets/header-background.jpg');
  background-attachment: fixed;
  position: relative;
  .header__logo {
    position: relative;
    z-index: 20;
    background: rgba(39, 43, 49, 1);
    max-height: 70px;
    @include breakpoint(sm) {
      max-height: 100%;
      background: transparent;
    }
  }
  .header-container {
    padding-top: $padding--small;
    padding-bottom: $padding--small;

    background: rgba(39, 43, 49, 1);

    @include breakpoint(sm) {
      background: transparent;
      padding-top: $padding;
      padding-bottom: $padding;
    }
  }
  .overlay {
    background-color: rgba(39, 43, 49, .6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  nav {
    padding: $margin--small;
    margin-left: -15px;
    margin-right: -15px;
    background: rgba(39, 43, 49, 1);
    margin-top: -800px;
    transition: all .3s ease-in-out;
    opacity: 0;
    @include breakpoint(sm) {
      padding: $margin--small 0 0 0;
      margin-left: 0;
      margin-right: 0;
      background: transparent;
      opacity: 1;
      margin-top: 0;
    }
    .menu {
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      flex-direction: column;
      @include breakpoint(sm) {
        flex-direction: row;
        justify-content: flex-end;
      }
      &-item {
        margin: 0;
        padding: $padding--tiny $padding--small;
        color: white;
        text-transform: uppercase;
        transition: all .3s ease-in-out;
        &:last-child {
          background-color: $color-accent;
          border-radius: 2px;
          &:hover {
            background-color: $color-hover;
            a {
              color: $color-white;
            }
          }
        }
        a {
          color: $color-white;
          font-weight: 400;
          @include font-size(1.05);
          &:hover,&:active {
            color: $color-hover;
          }
        }
      }
    }
  }
  .nav--active {
    margin: 0;
    opacity: 1;
  }
  .header-heading {
    max-width: 550px;
    margin: 50px auto;
    text-align: center;
    @include breakpoint(lg) {
      margin: 100px auto;
    }
    .button {
      margin: $margin--tiny;
    }
    &__description {
      @include font-size(1.25);
      font-weight: 400;
      color: #ccc;
    }
  }
}
