
.button {
  color: $color-white;
  padding: $padding--small $padding;
  background-color: $color-accent;
  width: auto;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .3s ease-in-out;
  display: inline-block;
  border: 2px solid $color-accent;
  @include font-size(1);
  &--big {
    padding: 18px $padding--large;
    @include font-size(1.2);
  }
  &--small {
    @include font-size(0.8);
    padding: $padding--tiny $padding--small;
  }
  &:hover,&:active {
    background-color: $color-hover;
    color: white;
  }
  &--white {
    background: transparent;
    border: 2px solid white;
    &:hover,&:active {
      background-color: transparent;
      border: 2px solid $color-hover;
      color: $color-hover;
    }
  }
}
