.heading {
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  line-height: 2;
  &:before {
    display: block;
    content: " ";
    width: 130px;
    max-width: 50%;
    height: 8px;
    background-color: $color-accent;
    position: absolute;
    top: 0;
    left: 0;

  }
}
.heading-h1 {
  font-weight: 400;
  line-height: 1.1;
  &--white {
    color: #fefefe;
  }
}
