.bg {
  &-grey {
    background-color: $color-grey;
    padding-top: $padding;
    padding-bottom: $padding;
  }
  &-white {
    background-color: #fff;
    padding-top: $padding;
    padding-bottos: $padding;
  }
  &-red {
    padding-top: $padding;
    padding-bottom: $padding;
    background-image: url('assets/background.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 150vh;
    transition: all .3s ease-in-out;

  }
}
