.bg {
  padding: $padding--large 0;
  @include breakpoint(md) {
    padding: $padding--huge 0;
  }
  &-grey {
    background-color: $color-grey;
  }
  &-white {
    background-color: #fff;
  }
  &-red {
    background-image: url('assets/background.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 150vh;
    transition: all .3s ease-in-out;

  }
}
.bg-div {
  padding-top: $padding--large;
  padding-bottom: $padding--large;
  @include breakpoint(md) {
    padding-top: $padding--huge;
    padding-bottom: $padding--huge;
  }
}
